/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
.brand {
  height: 40px;
  margin-top: -10px;
}

.navbar {
  margin-bottom: 5px;
}

.sized-text-area {
  resize: vertical;
  height: 80px !important;
}

#right-accordion, .pad-top-5 {
  padding-top: 5px;
}

.pad-bottom-5 {
  padding-bottom: 5px;
}

.alertify-logs.center {
  left: 0;
  width: 100%;
}

.alertify-logs.center > .default,
.alertify-logs.center > .success,
.alertify-logs.center > .error {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 5px 10px !important;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2) !important;
  -webkit-transition: all 0.5s cubic-bezier(.87,0,.19,0) !important;
  transition: all 0.5s cubic-bezier(.87,-.41,.19,2.00) !important;
}

body {
  background-image: url('/images/black-brick-wall-texture.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}

.pad-top-8 {
  padding-top: 8px;
}

.error-toggle.collapsed .if-not-collapsed {
  display: none;
}
.error-toggle:not(.collapsed) .if-collapsed {
  display: none;
}

.clickable {
  cursor: pointer;
}
